{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <!-- Dashboard Content -->
    <section class="work" id="work">
        <div class="title">
        <h1>Some of our finest work</h1>
            <p>
                Our analysis below centers around defected customers, 
                utilizing data retrieved from a CSV file. </br>
                We delve into the dataset to extract meaningful insights 
                and gain a deeper understanding of customer attrition factors.</br>
                The interactive charts represent frontend data visualization 
                using Flask and D3js utilizing data retrieved from a CSV file or any data source.
            </p>
        </div>

        <div class="tit">
            <p>
                *Click on pie chart to view analyzed data
            </p>
        </div>

        <div class="port">
        <div class="item-data" id="pieChart"></div> 
        <div class="item-data" id="barChart"></div>
    </div> 
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script>
        const pieChartDataUrl = "{{ url_for('get_piechart_data') }}";
        const barChartDataUrl = "{{ url_for('get_barchart_data') }}";
    </script>
    <script src="{{ url_for('static', filename='js/pieChart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/barChart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/updateBarChart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    </section>
  {% endblock %}
  
